.sidebar {
    width: 20vw;
    min-width: 200px;
    background-color: var(--light-green);
    color: white;

    min-height: 100vh;
    padding: 20px;
  }

  
  .sidebar .logo {
    color: var(--dark-green);
    font-size: 28px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  
  .sidebar nav ul {
    list-style: none;
    font-weight: bold;
    padding: 0;
    text-align: left;
  }
  
  .sidebar nav ul li {
    margin-bottom: 10px;
  }
  
  .sidebar nav ul li a {
    color: var(--dark-green);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.5s;
  }

  
  .side-icon {
    margin-right: 10px;
    transition: 0.5s;
    aspect-ratio: 1;
}


  .sidebar nav ul li a:hover,
  .sidebar nav ul li a:focus {
    background-color:#FFFFFF;
   
  }
  
  /* .sidebar nav ul li a:active {
    background-color: white;
    color: var(--dark-green);
  } */

  


