.sidebar {
    width: 20vw;
    min-width: 150px;
    background-color: var(--light-green);
    color: white;
    height: 100vh;
    padding: 20px;
  }
  
  .sidebar .logo {
    color: var(--dark-green);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
  }
  
  .sidebar nav ul {
    list-style: none;
    font-weight: bold;
    padding: 0;
    text-align: left;
  }
  
  .sidebar nav ul li {
    margin-bottom: 10px;
  }
  
  .sidebar nav ul li a {
    color: var(--dark-green);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.5s;

  }
  
  .sidebar nav ul li a i {
    margin-right: 10px; /* Add some space between icon and text */
  }
  
  .sidebar nav ul li a:hover,
  .sidebar nav ul li a:focus {
    background-color: var(--dark-green);
    color: white;
  }
  
  .sidebar nav ul li a:active {
    background-color: white;
    color: var(--dark-green);
  }
  