:root {
  --dark-green: #0C3B2E;
  --medium-green: #6d9773;
  --light-green: #c4e2c8;
  --gray: #f8f8f8;
}

* {
  font-family: 'Figtree', sans-serif;
  color: var(--dark-green);
}

.App {
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--light-green);
}

.bank-name {
  background-color: var(--light-green);
  margin-bottom: 290px;
  font-size: 35px;
}

.login-box {
  background: #ffffff;
  padding: 40px; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px; 
  height: 200px; 
  margin-top: -280px; 
}

.login-box h1 {
  margin-bottom: 25px;
  font-size: 30px;
  color: var(--dark-green);
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--dark-green);
  font-size: 20px; 
  font-weight: bold; 
  text-align: left; 
}

.input-group input {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: var(--dark-green);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 17px; 
}

.login-box button:hover {
  transition: 0.5s;
  background-color: var(--medium-green);
 
}